
.buttonCont{
  display: flex;
  justify-content: center;
}

.btn{
  margin-left: 1rem;
}

.myCont{
  display: flex;
}
.content,.image{
  flex: 1;
}


@media (max-width: 480px){
.buttonCont{
  display: block;
  
}
.btn{
  display: block;
  margin-top: 1rem;
}
.myCont{

  display: flex;
  flex-direction: column;
}
h3{
  margin-bottom: 2rem;
}
img{
  margin-bottom: 1rem;
}
.content{
  order: 1;
}
.image{
  order: 2;
}


}